body{
    background-color: hsl(30, 38%, 92%);
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-1{
    display: flex;
    flex-direction: row;
    width: 500px;
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    margin: auto;
}
img{
  max-width: 100%;
  height: 100%;
}
.body{
    padding-left: 20px;
}
